// -------------------------------
// ICONS
// -------------------------------

.icon--inline {
  vertical-align: middle;
}

.icon--small {
  width: 15px;
}

.icon--medium {
  width: 0.8rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
