// WEBMENTIONS -----------------------------

.post__comments {
  margin-top: $ratio2;
}

.post-comments__comments {
  display: none;
  &.js-is-open {
    display: block;
  }
}

#show-comments {
  margin-top: 1rem;
}

.comments__title,
.comment-reply-title,
.likes h3,
.reposts h3,
.mentions h3 {
  font-size: $ratio-1;
  margin-top: 0;
  text-transform: uppercase;
}

#comments {
  display: none;
}

.comment-author-smithtimmytim {
  &:before {
    background-color: var(--primary);
    color: var(--heading);
    content: '';
    display: block;
    font-size: $ratio-2;
    font-weight: 600;
    height: 1px;
    text-transform: uppercase;
    width: 15%;
  }

  .comment-body {
    padding: $ratio 0;
  }
}

.commentlist {
  margin-bottom: $ratio2;
  .comment {
    position: relative;
    padding-top: $ratio1;
    padding-bottom: $ratio1;

    .children {
      border-left: 1px solid var(--border);
      padding-left: $ratio;
      margin-top: $ratio1;
    }
  }

  .comment-author {
    align-items: center;
    display: flex;
    margin-bottom: 0.4rem;
  }

  .photo {
    border-radius: 2px;
    height: 20px;
    margin-right: 0.45rem;
    width: 20px;
  }

  li + li {
    border-top: 1px solid var(--border);
  }
}

.comment-author {
  line-height: 1;

  .fn {
    color: var(--heading);
    font-style: normal;
    font-weight: 600;
    display: inline-block;

    a {
      color: var(--heading);
      text-decoration: none;
      &:hover,
      &:focus {
        color: var(--primary);
      }
    }
  }

  .says {
    display: none;
  }
}

.comment-author .fn,
.comment-body p,
.logged-in-as {
  font-size: $ratio-1;
}

.comment-awaiting-moderation {
  color: var(--light-text);
  display: block;
  font-size: $ratio-1;
  line-height: 1.4;
  margin-top: 0.4rem;
}

.commentmetadata {
  font-family: $font-code;
  font-size: $ratio-2;
  vertical-align: middle;
  margin-bottom: $ratio-2;
  a {
    color: var(--light-text);
    text-decoration: none;
    font-weight: normal;
  }
}

.comment-reply-link {
  font-size: $ratio-2;
}

.comment-respond {
  margin-top: $ratio2;
}

.comment-form {
  margin-bottom: 1.8rem;
  .comment-notes {
    font-size: $ratio-1;
    margin-top: $ratio-2;
  }

  label {
    font-size: $ratio-1;
    font-weight: 600;
  }

  textarea {
    background: none;
    color: var(--text);
    display: block;
    border-radius: $global-radius;
    padding: 0.6rem 0.4rem;
    width: 100%;
    resize: none;
    border: 1px solid var(--border);
    font-size: $ratio-1;
  }

  input[type='text'] {
    background: none;
    color: var(--text);
    display: block;
    padding: 0.6rem 0.4rem;
    border-radius: $global-radius;
    border: 1px solid var(--border);
    font-size: $ratio-1;
  }
}

.comment-form-cookies-consent {
  label {
    margin-left: 0.4rem;
  }
}

#webmention-form,
.comment-form {
  input[type='submit'] {
    -webkit-appearance: none;
    background-color: var(--primary);
    border: 0;
    border-radius: $global-radius;
    display: inline-block;
    font-size: $ratio-1;
    font-weight: 600;
    padding: 0.65em 0.95em;
    transition: background-color 300ms ease-in-out;
    color: white;
    &:hover,
    &:focus {
      background-color: var(--primary-active);
    }
  }
}

#webmention-form {
  label {
    display: block;
    font-size: $ratio-1;
    margin-bottom: $ratio;
  }

  input[type='url'] {
    background: none;
    color: var(--text);
    display: block;
    padding: 0.4rem;
    border-radius: $global-radius;
    border: 1px solid var(--border);
    font-size: $ratio-1;
    margin-top: 0.4rem;
    width: 100%;
  }
}

$circular-avatar-size: 1.7rem;

.mention-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, $circular-avatar-size);
  grid-gap: 0.4rem;
  margin-bottom: 1.8rem;
  margin-top: 0.6rem;

  li {
    margin-left: 0;

    img {
      position: static;
      border-radius: 50%;
      height: $circular-avatar-size;
      width: $circular-avatar-size;
    }
  }
}
