{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "yaml",
          "scss",
          "bash",
          "liquid",
          "ruby"
        ]
      }
    ]
  ]
}
