// -------------------------------
// FOOTER
// -------------------------------

.footer {
  border-top: 2px solid var(--alt);
  background-color: var(--secondary);
  color: var(--footer-light-text);
  padding: 2rem;
  position: relative;

  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    'about'
    'furthermore'
    'search'
    'topics'
    'series'
    'blogroll'
    'subfooter';

  @media #{$medium-up} {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      'about about about about about about'
      'furthermore furthermore furthermore furthermore furthermore furthermore'
      'search search search search search search'
      'topics topics series series series series'
      'topics topics blogroll blogroll blogroll blogroll'
      'subfooter subfooter subfooter subfooter subfooter subfooter';
  }

  @media #{$large-up} {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.4rem 2.8rem;
    grid-template-areas:
      'about about about furthermore furthermore furthermore'
      'about about about search search search'
      'topics topics topics series series series'
      'topics topics topics blogroll blogroll blogroll'
      'subfooter subfooter subfooter subfooter subfooter subfooter';
  }

  p {
    line-height: 1.5;
    font-size: 0.9rem;
  }

  .icon {
    fill: var(--primary);
  }

  a {
    color: var(--text);
    font-weight: normal;
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--alt);
    }
  }
}

.footer__description {
  grid-area: about;
}

.footer-logo {
  display: grid;
  width: 13rem;
  margin-bottom: 0.8rem;

  .icon-logo {
    fill: var(--primary);
  }
}

.search--footer {
  grid-area: search;
}

.footer__topics h2,
.footer__blogroll h2,
.footer__series h2 {
  color: var(--footer-light-text);
  border-bottom: 2px solid var(--footer-light-text);
  padding-bottom: 0.4rem;
  font-size: $ratio-1;
  margin-bottom: $ratio-2;
  text-transform: uppercase;
}

.footer__topics {
  grid-area: topics;
}

.footer__about {
  grid-area: furthermore;

  h2 {
    color: var(--footer-light-text);
  }
}

.footer__blogroll {
  grid-area: blogroll;
}

.footer__series {
  grid-area: series;
}

.footer-list {
  column-count: 2;
  li {
    font-size: $ratio-1;
    + li {
      margin-top: 0.4rem;
    }
  }
}

.sub-footer {
  grid-area: subfooter;
  text-align: center;

  small {
    display: block;
    font-size: $ratio-2;
    line-height: 1.6;
    margin-top: 0.4rem;
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.offline-ready {
  background: #cfe8c6;
  bottom: 0;
  color: darken(#cfe8c6, 50%);
  display: none;
  font-size: $ratio-1;
  font-weight: 600;
  left: 0;
  padding: 0.8rem;
  position: fixed;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 5;

  &.active {
    display: block;
  }
}
