// -------------------------------
// PAGES
// -------------------------------

.page {
  @media #{$medium-up} {
    padding: 0 2rem;
  }
}

.page__header {
  margin-bottom: 2rem;
}

.page__header--full {
  @media #{$small-only} {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

.page-header__title {
  color: var(--heading);
  font-size: $ratio2;
  font-weight: 400;
  margin-bottom: 0.2rem;
  letter-spacing: -1px;

  small {
    color: var(--light-text);
    font-family: $font-code;
    font-size: $ratio-1;
    margin-left: $ratio-2;
    background-color: var(--light-bg);
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    vertical-align: middle;
  }
}

.page-header__description {
  p {
    color: var(--light-text);
    font-family: $font-display;
    font-size: $ratio1;
    line-height: 1.35;
  }
}

// -----------------------------------------
// AUTHOR PAGE
// -----------------------------------------

.author {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 75px auto;
  margin-bottom: 3rem;

  @media #{$medium-up} {
    grid-column-gap: 1.4rem;
    grid-template-columns: 160px minmax(auto, 35rem);
  }
}

.author--single {
  @media #{$small-only} {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }

  .avatar.photo {
    border-radius: 5px;
  }

  .author__name {
    color: var(--heading);
    font-size: $ratio2;
    line-height: 1;
    margin: 0;
  }

  .author__title {
    color: var(--light-text);
    font-size: $ratio1;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: none;

    &:before {
      content: none;
    }
  }

  .author__profiles {
    margin-top: 1.8rem;
  }
}

// -----------------------------------------
// PODCAST PAGE
// -----------------------------------------

.subscribe-links {
  padding-top: $ratio-1;
  margin-bottom: 5rem;

  ul {
    display: flex;
    margin-top: $ratio-2;
  }

  li + li {
    margin-left: 0.6rem;
  }

  a {
    border: 3px solid var(--border);
    border-radius: 50%;
    display: grid;
    padding: 0.4rem;
    position: relative;
    svg {
      fill: var(--light-text);
      transition: fill 300ms ease-in-out;
    }

    &:before {
      background-color: var(--light-bg);
      border-radius: 5px;
      content: attr(title);
      color: var(--text);
      display: block;
      font-size: $ratio-2;
      font-weight: normal;
      opacity: 0;
      padding: 0.4rem 0.6rem;
      position: absolute;
      text-align: center;
      top: 131%;
      left: 50%;
      transform: translateX(-50%);
      transition: opacity 300ms ease-in-out;
      white-space: pre;
    }

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid var(--light-bg);

      opacity: 0;
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translateX(-50%);
      transition: opacity 300ms ease-in-out;
    }

    &:hover,
    &:focus {
      &:before {
        opacity: 1;
      }
      &:after {
        opacity: 1;
      }
      svg {
        fill: var(--primary);
      }
    }
  }

  $icon-size: 1.6rem;

  svg {
    width: $icon-size;
    height: $icon-size;
  }
}
